<h1>Permanent Holes</h1>

<% @holes.permanent_holes.each do |hole| %>
   <h3><%= hole.name %></h3>
   <p>Distance to pin: <%= hole.distance_to_pin %> ft. </p>
   <p>Par: <%= hole.par %></p>
   <p>Permanent: <%= hole.permanent %></p>
   <%= link_to "Edit Hole", "/holes/#{hole.id}/edit" %>
   <%= button_to "Delete", "/holes/#{hole.id}", method: :delete %>
<% end %>
