<h1><%= @hole.name %></h1>
<h3>Course:</h3>
<p><%= @hole.course_id %></p>
<h3>Distance to pin:</h3>
<p><%= @hole.distance_to_pin %></p>
<h3>Par:</h3>
<p><%= @hole.par %></p>
<h3>Permanent:</h3>
<p><%= @hole.permanent %></p>
