<h1><%= @course.name %></h1>
<body>
    <%= link_to "Create Hole", "/courses/#{@course.id}/holes/new" %>
    <%= link_to "Sort Alphabetically", sort: 'alphabetize'  %>
    <% @holes.each do |hole| %>
        <h3>Name: <%= hole.name %></h3>
        <p>Distance to pin: <%= hole.distance_to_pin %></p>
        <p>Par: <%= hole.par %></p>
        <p>Permanent: <%= hole.permanent %></p>
    <% end %>
</body>
