<html>
    <h1> All Courses</h1>
    <%= link_to "New Course", "/courses/new" %>
    <body>
        <% @courses.each do |course| %>
            <h3>Name: <%= course.name %> </h3>
            <p>Permanent: <%= course.permanent %></p>
            <p>Par: <%= course.par %></p>
            <p>Difficulty Rating (out of 5): <%= course.difficulty %></p>
            <p>Created at: <%= course.created_at %></p>
            <p><%= button_to "Edit #{course.name}", "/courses/#{course.id}/edit", method: :get %>
        <% end %>
    </body>
</html>
