<h1><%= @course.name %></h1>
<h2><%= link_to "Holes at this course", "/courses/#{@course.id}/holes" %></h2>
<h3>Par: <%= @course.par %></h3>
<h3>Difficulty Rating: <%= @course.difficulty %></h3>
<h3>Permanent: <%= @course.permanent %></h3>
<h3>Hole count: <%=@course.hole_count %></h3>
